---
title: Useful Mods
description: Library of useful mods
---
# Useful Mods Library

List of useful mods to include in modpacks based on category and Minecraft version

| Category      | 1.19.2                                                                                                                                                                                                                                     | 1.20.1                                                                                                                                                                                                                                     | 1.21.1                                                                                                                                                                                                                                           | 26.1                                                                                                                                                                                                                                         |
| ------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| Performance   | [Forge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/performance/1.19.2/forge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/performance/1.19.2/fabric/)     | [Forge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/performance/1.20.1/forge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/performance/1.20.1/fabric/)     | [Neoforge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/performance/1.21.1/neoforge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/performance/1.21.1/fabric/)     | [Neoforge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/performance/26.1/neoforge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/performance/26.1/fabric/)     |
| Utility       | [Forge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/utility/1.19.2/forge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/utility/1.19.2/fabric/)             | [Forge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/utility/1.20.1/forge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/utility/1.20.1/fabric/)             | [Neoforge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/utility/1.21.1/neoforge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/utility/1.21.1/fabric/)             | [Neoforge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/utility/26.1/neoforge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/utility/26.1/fabric/)             |
| Bug Fixes     | [Forge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/bug_fixes/1.19.2/forge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/bug_fixes/1.19.2/fabric/)         | [Forge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/bug_fixes/1.20.1/forge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/bug_fixes/1.20.1/fabric/)         | [Neoforge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/bug_fixes/1.21.1/neoforge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/bug_fixes/1.21.1/fabric/)         | [Neoforge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/bug_fixes/26.1/neoforge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/bug_fixes/26.1/fabric/)         |
| Profiling     | [Forge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/profiling/1.19.2/forge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/profiling/1.19.2/fabric/)         | [Forge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/profiling/1.20.1/forge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/profiling/1.20.1/fabric/)         | [Neoforge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/profiling/1.21.1/neoforge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/profiling/1.21.1/fabric/)         | [Neoforge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/profiling/26.1/neoforge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/profiling/26.1/fabric/)         |
| Documentation | [Forge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/documentation/1.19.2/forge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/documentation/1.19.2/fabric/) | [Forge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/documentation/1.20.1/forge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/documentation/1.20.1/fabric/) | [Neoforge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/documentation/1.21.1/neoforge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/documentation/1.21.1/fabric/) | [Neoforge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/documentation/26.1/neoforge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/documentation/26.1/fabric/) |
| Multiplayer   | [Forge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/multiplayer/1.19.2/forge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/multiplayer/1.19.2/fabric/)     | [Forge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/multiplayer/1.20.1/forge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/multiplayer/1.20.1/fabric/)     | [Neoforge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/multiplayer/1.21.1/neoforge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/multiplayer/1.21.1/fabric/)     | [Neoforge](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/multiplayer/26.1/neoforge/)<br>[Fabric](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/multiplayer/26.1/fabric/)     |
