---
title: Free Multiplayer
tags: info, multiplayer, free, server
description:
    Exploring options for free multiplayer in modded Minecraft
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Free multiplayer options for modded Minecraft

## Mod options

There are many mods that allow for free multiplayer across different loaders and versions. We've compiled a list of them in our [Useful Mods List ](https://modpack-dev-knowledgebase.github.io/modpack-dev-wiki/wiki/useful-mods/) under the "Multiplayer" section. These are by far the easiest methods for free multiplayer, as they require little setup or technical knowledge. The main drawback is that the server is hosted through the owner's machine, so if they go offline, the whole server does as well.
## Oracle Free Tier

[Oracle Free Tier](https://www.oracle.com/cloud/free/) is a service offered by the Oracle corporation to offer free 24GB servers to users who apply. The catch is that it's more time and effort to set up and maintain than any of the mods shown here, since you'd be setting up an unmanaged Linux server to play Minecraft from scratch. However, some [online guides](https://blogs.oracle.com/developers/how-to-setup-and-run-a-free-minecraft-server-in-the-cloud) do exist to aid through the process.

## Server host partnership

If you are already an established developer in the community, you may want to consider looking into a server sponsor partner. Sponsors often give out servers to their partners for free, and most eligible creators could find themselves getting a 6-8GB server out of a partnership.

## Aternos

[Aternos](https://aternos.org/:en/) is a server host that provides free servers, but are generally poor quality and prone to many issues. We recommend to try the above options before Aternos.

:::warning

Aternos usually only assigns around ~2400 MB of RAM to individual servers<sup><a href="https://support.aternos.org/hc/en-us/articles/12046003680157-Server-RAM">[1]</a></sup>,
which is insufficient to run most modpacks, as well as only allowing certain mods to be used on their servers<sup><a href="https://support.aternos.org/hc/en-us/articles/360027235871-Install-mods-Minecraft-Java-Edition">[2]</a></sup>,
and they have been known to globally blacklist mods from their platform without notifying users<sup><a href="https://github.com/modpack-dev-knowledgebase/modpack-dev-wiki/blob/main/src/lib/media/aternos-stuff.png">[3]</a></sup>,
leading to other cascading issues.

:::